body {
  font-family: Segoe UI;
  background: #f4f4f4;
  margin: 0;
}

header {
  background: #6a1b9a;
  color: #fff;
  padding: 15px;
  font-size: 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  padding: 20px;
}

.card {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
}

input,
button {
  padding: 10px;
  margin: 8px 0;
  width: 100%;
  box-sizing: border-box;
}

button {
  background: #6a1b9a;
  color: #fff;
  border: none;
  cursor: pointer;
}

.logout-btn {
  background: #ff9800;
  color: #000;
  padding: 8px 15px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  width: auto;
  margin: 0;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  border: 1px solid #ccc;
}
